:root {
    --aij-1: #D198FA;
    --aij-2: #ff66C4;
    --aij-3: #B127B0;
    --aij-4: #4C146B;
}



h1, h2, h3, h4, h5, h6, span {
    color: var(--aij-4);
}

a {
    color: var(--aij-3);
}

hr {
    border: 2px solid var(--aij-4);
}

body {
    background-color: #f1f2f5;
}

input[type="number"] {
    border-color: var(--aij-3);
}

.collapse-icon {
    color: var(--aij-3);
}

.nav-link.active {
    color: white !important;
    background-color: var(--aij-3) !important;
}

.nav.nav-tabs {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: -25px;
    z-index: 1000;
    background-color: white; 
}

.nav-link {
    color: var(--aij-3) !important;
}

textarea.form-control.textarea-autoresize {
    outline: 1px solid var(--aij-3);
}

.well {
    background-color: #f0e3ff;
    color: var(--aij-4);
}

#header {
    background-color: #f0e3ff;
    outline: 1px solid #ddd3ee;

}

label {
    color: var(--aij-4);
}

.sidebar-content {
    color: var(--aij-4);
}

.btn {
    background-color: white;
    color: var(--aij-4);
    border: 1px solid var(--aij-3);
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: var(--aij-3);
    border-color: var(--aij-3);
    color: white;
}

/* ------------------- popover styles -----------------------------------*/
.bi-question-circle {
    width: 16px;
    height: 16px;
    fill: var(--aij-3);
    transition: fill 0.3s ease, transform 0.3s ease;
}

.bi-question-circle:hover {
    fill: var(--aij-4);
    transform: scale(1.3);
}

.popover-body {
    background-color: white;
    color: var(--aij-4);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.popover-arrow {
    display: none !important;
}
/* ------------------- popover styles -----------------------------------*/
