h1, h2, h3, h4, h5, h6, span {
    color: #3d1265;
}

a {
    color: #ff007c;
}

hr {
    border: 2px solid #3d1265;
}

body {
    background-color: #f1f2f5;
}

input[type="number"] {
    border-color: #ff007c;
}

/* .card {
    border: 1px solid #ff007c;
} */

.collapse-icon {
    color: #ff007c;
}

.nav-link.active {
    color: white !important;
    background-color: #ff007c !important;
}

.nav.nav-tabs {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: -25px; /* Adjust this value as needed */
    z-index: 1000; /* Ensure it stays above other content */
    background-color: white; /* Ensure it doesn't overlap with other content */
}

.nav-link {
    color: #ff007c !important;
}

textarea.form-control.textarea-autoresize {
    outline: 1px solid #ff007c;
}

.well {
    background-color: #f0e3ff;
    color: #3d1265;
}

#header {
    background-color: #f0e3ff;
    outline: 1px solid #ddd3ee;

}

#stream.form-check-input {
    background-color: #f1f2f5;
    border-color: #3d1265;
}

#stream.form-check-input:checked {
    background-color: #3d1265;
    border-color: #3d1265;
}

label {
    color: #3d1265;
}

.sidebar-content {
    color: #3d1265;
}

/* .bi-arrow-up-circle-fill {
    fill: #ff007c;
} */

#flush_chat {
    background-color: white;
    color: #3d1265;
    border: 1px solid #ff007c;
}

#flush_chat:hover {
    background-color: #ff007c;
    border-color: #ff007c;
    color: white;
}

/* popover styles */
.bi-question-circle {
    width: 16px;
    height: 16px;
    fill: #ff007c;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.bi-question-circle:hover {
    fill: #3d1265;
    transform: scale(1.3);
}

.popover-body {
    background-color: #f1f2f5;
    color: #3d1265;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.popover-arrow {
    display: none !important;
}
